[submodule "themes/themes/papermod"]
	path = themes/themes/papermod
	url = https://github.com/adityatelange/hugo-PaperMod
[submodule "public"]
	path = public
	url = https://github.com/pandyah5/open-hansard-website.git
	branch = master
[submodule "themes/mini"]
	path = themes/mini
	url = https://github.com/nodejh/hugo-theme-mini.git
